* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  overflow: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: 4vw 50vw 45vw;
  grid-template-rows: 100vh;
}

/* Columns */
.grid-1 {
  height: 100%;
  width: 100%;
  background-color: #555;
}

.grid-2 {
  height: 100%;
  width: 100%;
}

.grid-3 {
  margin-left: 2%;
  height: 100%;
  width: 100%;
}

.column-navigation a {
  display: block;
  text-align: center;
  padding: 10px;
  color: white;
  font-size: 15px;
}

.column-navigation a:hover {
  background-color: #000;
}

.active {
  background-color: #4caf50;
}

.column-menu {
  height: 100%;
  width: 100%;
  /* padding: 1px; */
  background-color: #f1f1f1;
}

.placedescription {
  margin-top: 20%;
}

/* IMAGE */

#cityname {
  margin: 0;
  padding: 40px;
  width: 100%;
  height: 10%;
  text-align: center;
  font-size: 28px;
}

#cityimage {
  width: 100%;
  height: 60%;
  border-radius: 10px;
}

#popover-text {
  background-color: #9c9a9a;
  font-size: 18px;
}

@media screen and (max-width: 1024px) {
  #cityname {
    height: 30%;
  }
  #cityimage {
    height: 40%;
  }
}

@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: auto;
    grid-template-rows: 5vh 50vh 45vh;
  }

  .column-navigation {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
  }

  .column-navigation a {
    display: inline;
  }

  #cityname {
    height: 5%;
    padding: 20px;
    text-align: center;
    font-size: 18px;
  }

  #cityimage {
    display: block;
    margin: auto;
    height: 80%;
    width: 80%;
  }
}

@media screen and (max-width: 340px) {
  .grid-container {
    grid-template-columns: auto;
    grid-template-rows: 3vh 50vh 45vh;
  }

  .column-navigation a {
    font-size: 10px;
    padding: 2px;
  }

  #cityname {
    height: 20%;
    padding: 15px;
    text-align: center;
    font-size: 12px;
  }

  #cityimage {
    height: 50%;
  }
}
